<div id="<%= dom_id lesson_category %>">
  <p>
    <strong>Name:</strong>
    <%= lesson_category.name %>
  </p>
  <p>
    <strong>Min required:</strong>
    <%= lesson_category.min_required %>
  </p>
  <p>
    <strong>Updated at:</strong>
    <%= lesson_category.created_at %>
  </p>
  <p>
    <strong>Created at:</strong>
    <%= lesson_category.updated_at %>
  </p>
</div>
