<%= render partial: 'shared/notice' %>

<%= render :partial => 'shared/subscription_report', :locals => { :subscription_report =>  @subscription_report } %>

<div>
  <%= link_to "Edit this subscription", edit_subscription_path(@subscription) %> |
  <%= link_to "Back to subscriptions", subscriptions_path %>

  <%= button_to "Destroy this subscription", @subscription, method: :delete, class: 'btn btn-danger' %>
</div>

