<%= render partial: 'shared/notice' %>

<ul class="list-group list-group-flush">
    <% @subscription_report.each do |report| %>
        <li class="list-group-item">
            <%= report.last[:subject_name] %>:
            <div class="progress">
                <div
                    class="progress-bar progress-bar-striped"
                    role="progressbar"
                    style="width: <%= report.last[:achieved_percentage] %>%;"
                    aria-valuenow="<%= report.last[:achieved_percentage] %>"
                    aria-valuemin="0"
                    aria-valuemax="100"
                >
                <%= report.last[:achieved_percentage] %>% (<%= report.last[:achieved_hours] %> / <%= report.last[:subject_hours] %>)
                </div>
            </div>
        </li>
    <% end %>
</ul>

<%= render @subscription %>

<div>
  <%= link_to "Edit this subscription", edit_subscription_path(@subscription) %> |
  <%= link_to "Back to subscriptions", subscriptions_path %>

  <%= button_to "Destroy this subscription", @subscription, method: :delete, class: 'btn btn-danger' %>
</div>

